<form action="/display" method="POST">
    T1: <input type="number" name="t1" ><br><br>
    T2: <input type="number" name="t2" ><br><br>
    T3: <input type="number" name="t3" ><br><br>
    T4: <input type="number" name="t4" ><br><br>
    <button>Submit</button>
</form>
