<!DOCTYPE html>
<html>
<body>
    <h1>contect form</h1>
    <form action="/submit" method="POST">
        name: <input type="text" name="name" required><br><br>
        email: <input type="email" name="email" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
